@import url('./reset.css');
#wrap {width: 1200px;margin: 0 auto;}

/* 헤더 */
#wrap #header {width: 100%;height: 100px;display: flex;position: relative;z-index: 3;}

/* 로고 */
#wrap #header .left {width: 200px;height: 100%;display: flex;align-items: center;}
#wrap #header .left h1 {width:100%;height: 40px;}
#wrap #header .left h1 a {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#wrap #header .left h1 a span:nth-child(1) {
    color: #5ac;
}
#wrap #header .left h1 a span:nth-child(2) {
    margin-left: 5px;
    color: #c5a;
}

#wrap #header .right {
    width: 1000px;height: 100%;    
}


/* 네비게이션 =>  메인메뉴 */
#wrap #header .right #nav {
    width:700px;
    margin:49px 20px 0 auto; 
}
#wrap #header .right #nav > ul {display: flex;width:100%;}
#wrap #header .right #nav > ul > li {
    width:25%;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:1px solid #ddd;
}
#wrap #header .right #nav > ul > li:last-child {border-right:1px solid #ddd;}

#wrap #header .right #nav > ul > li > a {
    width: 100%;display: flex;align-items: center;justify-content: center;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    transition: all 0.3s;
    background: #fff;
}
#wrap #header .right #nav > ul > li > a:hover {
    background: #2c2a29;
    color: #669900;
}   
#wrap #header .right #nav > ul > li > a.on {
    background: #2c2a29;
    color: #669900;
}   


/* 서브메뉴 */
/* 스타벅스 서브메뉴와 같은 전체메뉴 */
#wrap #header .right #nav > ul > li .sub {
    position: absolute;
    top:100px;
    left:0;
    width: 100%;
    background: #2c2a29;
}
/* #wrap #header .right #nav > ul > li .sub1 {background-color: #333329;}
#wrap #header .right #nav > ul > li .sub2 {background-color: #2c2a59;}
#wrap #header .right #nav > ul > li .sub3 {background-color: #332a29;}
#wrap #header .right #nav > ul > li .sub4 {background-color: #2c4a29;} */


#wrap #header .right #nav > ul > li .sub .sub-container {
    width:700px;
    margin: 0 20px 0 auto;
}
#wrap #header .right #nav > ul > li .sub .sub-container > ul {width:100%;display: flex;padding: 20px 0;}
#wrap #header .right #nav > ul > li .sub .sub-container > ul > li {width:25%;} /* 4칸 */
#wrap #header .right #nav > ul > li .sub .sub-container > ul > li > ul {width:100%;}
#wrap #header .right #nav > ul > li .sub .sub-container > ul > li > ul > li {width:100%;}
#wrap #header .right #nav > ul > li .sub .sub-container > ul > li > ul > li a {
    color:#999;
    display: flex;
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#wrap #header .right #nav > ul > li .sub .sub-container > ul > li > ul > li a:hover {
    background: #666;
    color: #fff;
}





/* 메인 */
#wrap #main {width: 100%;position: relative;z-index: 2;}
#wrap #main #section1 {width: 100%;height: 300px;background-color: #c9c;}
/* 메인슬라이드 아래에서 위로이동 */
#wrap #main #section1 .slide-container {width:100%;height: 100%;}
#wrap #main #section1 .slide-container .slide-content {width: 100%;height: 100%;overflow: hidden;}
#wrap #main #section1 .slide-container .slide-content .slide-wrap {
    width: 100%; 
    height: 100%;   
    position: relative;
}
#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url() no-repeat 50% 50%;
}
#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide1 {
    background-image: url(../images/banner_img.jpg);
    background-position: 50% 30%;
    background-size: 120% auto;
    z-index: 3;
}
#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide2 {
    background-image: url(../images/banner_img2.jpg);
    background-position: 50% 0%;
    background-size: 100% auto;
    z-index: 2;
}
#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide3 {
    background-image: url(../images/banner_img3.png);
    background-position: 50% 30%;
    background-size: 110% auto;
    z-index: 1;
}

#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide  a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide  a span {
    width: 100%;
    height: 70px;
    background: rgba(85, 170, 204, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color:#fff;
    user-select: none;
}
#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide2 a span {background-color: rgba(204, 85, 170, 0.9);}
#wrap #main #section1 .slide-container .slide-content .slide-wrap .slide3 a span {background-color: rgba(250, 120, 85, 0.9);}

